<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/api/cars/search" method="post">
    <input type="text" name="search">
    <button type="submit">search</button>
</form>

{{#if arr}}
    {{#each arr}}
        <div style="border-top: 2px solid black">
            {{this.brand}}
            {{this.engine}}
            <a href="/api/cars/update/{{this.brand}}">
                <button> update </button>
            </a>
            <a href="/api/cars/delete/{{this.brand}}">
                <button> delete </button>
            </a>
        </div>
    {{/each}}
{{/if}}

<a href="/api/cars/new">
    <button>
        add new car
    </button>
</a>

</body>
</html>
